@font-face {
    font-family: "Roboto-Bold";
    src: url(assets/fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: "Robot-Regular";
    src: url(assets/fonts/Roboto-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #36384e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: "Robot-Regular";
}

.signup{
    display: flex;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

.leftSide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    gap: 20px;
}

.leftSide h1{
    font-family: "Roboto-Bold";
    font-size: 50px;
}

ul > li{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 10px;
}

ul > li > a {
    color: black;
    text-decoration: none;
    padding: 5px 0;
}

form{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 10px;
}

form label{
    font-size: 10px;
    font-family: "Roboto-Bold";
}

form input{
    padding: 15px 10px;
    border-radius: 8px;
    border: 1px solid gray;
}

form input[type="submit"]{
    background-color: #242742;
    border: none;
    cursor: pointer;
    color: white;

}


form input[type="submit"]:hover{
    background: linear-gradient(to right,#ff6257,#fb1100);
    box-shadow: 4px 7px 20px 0px red;}